:root {
    --confirm-colour: #8CB369;
    --deny-colour: #C81D25;
    --accent-colour: #D7ACC0;
    --text-colour: #475B5A;
    --heading-colour: #242E2D;
    --background-colour: #F4F6F6;
    --alt-background-colour: #DDE3E3;
}