
/* set default theming */
body {
    background: var(--background-colour);
}

h1, h2, h3, h4, h5, h6 {
    font-family: "Playfair Display", serif;
    color: var(--heading-colour);
}

*{
    font-family: "Atkinson Hyperlegible", sans-serif;
    color: var(--text-colour);
}

.alt-background{
    background: var(--background-colour-1);
}

.accent-background{
    background: var(--accent-colour);
}
.accent-text{
    color: var(--accent-colour);
}

.text-darker{
    color: var(--text-darker);
}

.btn-yes{
    background: var(--confirm-colour);
}
.btn-no{
    background: var(--deny-colour);
}

hr{
    color: var(--accent-colour);
    border: 0.2rem solid;
}

.navbar {
    margin-bottom: 1rem;
}

/* fix colour for navbar text*/
.nav-link, .navbar, .btn{
    color: var(--text-colour) !important;
}

#details-button{
    background: var(--background-colour-2);
}

#details-button:hover {
    background: var(--background-colour-3);
    color: var(--text-darker) !important;

}

.card {
    border: none;
    background: var(--background-colour-1);!important;

}