name: CI

on:
  push:
    branches: [ main ]
  pull_request:

jobs:
  build:
    runs-on: [self-hosted, linux]

    steps:
      - name: checkout
        uses: actions/checkout@v4

      - name: setup java
        uses: actions/setup-java@v4
        with:
          distribution: temurin
          java-version: '21'  

      - name: make amper executable
        if: runner.os != 'Windows'
        run: chmod +x ./amper

      - name: run server tests
        run: ./amper test -m server
      
      - name: run logic tests
        run: ./amper test -m logic

      - name: build server
        run: ./amper build -m server
      
      - name: build logic
        run: ./amper build -m logic
      
      - name: build database
        run: ./amper build -m database
      
      



